In [1]:
# import required dependencies
import pandas as pd
import os

In [3]:
# create path
beach_data = os.path.join('../UCF_group_project/beach_data.csv')
beach_df = pd.read_csv(beach_data)

In [4]:
# Display head of dataframe
beach_df.head()

,Sample ID,Sample Date,Beach Name,Sample Location,Enterococci Results,Units or Notes
0,050514CP13,05/05/2014,MIDLAND BEACH,Center,20.0,MPN/100 ml
1,062011GR04,06/20/2011,MANHATTAN BEACH,Left,NaN,Result below detection limit
2,072808BH09,07/28/2008,MIDLAND BEACH,Right,28.0,MPN/100 ml
3,051214CP36,05/12/2014,SOUTH BEACH,Right,4.0,MPN/100 ml
4,081511KB07,08/15/2011,CEDAR GROVE,Left,360.0,MPN/100 ml

In [6]:
# Display tail of dataframe
beach_df.tail()

,Sample ID,Sample Date,Beach Name,Sample Location,Enterococci Results,Units or Notes
25530,JB2208021005-1.1,08/02/2022,SCHUYLER HILL CIVIC ASSOCIATION,Left,20.0,MPN/100 ml
25531,JA2209070700-1.3,09/07/2022,DOUGLASTON HOMEOWNERS ASSOCIATION,Right,187.0,MPN/100 ml
25532,JB2209190940-1.1,09/19/2022,SCHUYLER HILL CIVIC ASSOCIATION,Left,10.0,MPN/100 ml
25533,JB2209190940-1.2,09/19/2022,SCHUYLER HILL CIVIC ASSOCIATION,Center,9.9,MPN/100 ml
25534,JB2209190940-1.3,09/19/2022,SCHUYLER HILL CIVIC ASSOCIATION,Right,10.0,MPN/100 ml

In [5]:
# check for null values
beach_df.isnull().sum()

Sample ID                 0
Sample Date               0
Beach Name                0
Sample Location          37
Enterococci Results    7445
Units or Notes            0
dtype: int64

In [8]:
# replace null values with zero
beach_df = beach_df.fillna(0.0)
beach_df.head()

,Sample ID,Sample Date,Beach Name,Sample Location,Enterococci Results,Units or Notes
0,050514CP13,05/05/2014,MIDLAND BEACH,Center,20.0,MPN/100 ml
1,062011GR04,06/20/2011,MANHATTAN BEACH,Left,0.0,Result below detection limit
2,072808BH09,07/28/2008,MIDLAND BEACH,Right,28.0,MPN/100 ml
3,051214CP36,05/12/2014,SOUTH BEACH,Right,4.0,MPN/100 ml
4,081511KB07,08/15/2011,CEDAR GROVE,Left,360.0,MPN/100 ml

In [14]:
# Count the amount of unique beaches
beach_df['Beach Name'].nunique()

40

In [16]:
# Display unique beach names
beach_df['Beach Name'].unique()

array(['MIDLAND BEACH', 'MANHATTAN BEACH', 'SOUTH BEACH', 'CEDAR GROVE',
       'ORCHARD BEACH', 'GERRITSEN/KIDDIE BEACH',
       'SEAGATE BEACH - 38TH STREET', 'DANISH AMERICAN BEACH CLUB',
       'MANHEM BEACH CLUB', 'DOUGLASTON HOMEOWNERS ASSOCIATION',
       'ROCKAWAY BEACH 15TH - 22TH', "WOLFE'S POND PARK",
       'CONEY ISLAND WEST 16TH - WEST 27TH',
       'ROCKAWAY BEACH 116TH - 126TH',
       'WHITESTONE BOOSTER CIVIC  ASSOCIATION',
       'KINGSBOROUGH COMMUNITY COLLEGE', 'SI YMCA OF GREATER NEW YORK',
       'WHITE CROSS FISHING CLUB', 'CONEY ISLAND WEST 8TH - PIER',
       'BREEZY POINT - 219TH STREET', 'BREEZY POINT - REID AVE.',
       'MORRIS YACHT AND BEACH CLUB', 'ROCKAWAY BEACH 59TH - 80TH',
       'SCHUYLER HILL CIVIC ASSOCIATION',
       "TRINITY DANISH YOUNG PEOPLE'S SOCIETY",
       'WEST FORDHAM STREET ASSOCIATION', 'LOCUST POINT YACHT CLUB',
       'SEAGATE BEACH - 42ND STREET', 'ROCKAWAY BEACH 23RD - 59TH',
       'AMERICAN TURNERS', 'ROCKAWAY BEACH 126TH - 149TH',
       'CONEY ISLAND BR. 6TH - OCEAN PKWY', 'ROCKAWAY BEACH 9TH - 13TH',
       'CONEY ISLAND BR. 15TH - 6TH',
       'CONEY ISLAND WEST 28TH - WEST 37TH',
       'BEECHHURST PROPERTY OWNERS ASSOCIATION',
       'ROCKAWAY BEACH 95TH - 116TH',
       'CONEY ISLAND OCEAN PKWY - WEST 8TH', 'ROCKAWAY BEACH 80TH - 95TH',
       'LOCUST POINT CIVIC ASSOCIATION'], dtype=object)

In [17]:
# Display data types
beach_df.dtypes

Sample ID               object
Sample Date             object
Beach Name              object
Sample Location         object
Enterococci Results    float64
Units or Notes          object
dtype: object